@charset "UTF-8";

.main_Wrap {
  width: 100%;
  height: 100vh;
  /* padding: 80px 0 10px 0; */
  padding: 0;
  /* margin-top: 130px; */
  /* background-color: darkgoldenrod; */
  display: flex;
  flex-direction: column;
}

/********** 메인 head **********/
.main_header {
  /* background-color: skyblue; */
  text-align: center;
  /* margin-bottom: 69px; */
  margin-top: 80px;
  padding: 20px 0;
  flex-shrink: 0; /* 크기 조정 */
}

.main_header h1 {
  font-size: 18px;
  font-weight: bold;
}

/********** 메인 content **********/
.main_contentWrap {
  /* background-color: coral; */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* 남은 공간 차지 */
  /* margin-bottom: 14px; */
  overflow-y: auto;
  min-height: 0;
  padding: 20px 0;
  user-select: none;
}

.caseItemBtn {
  /* background-color: teal !important; */
  /* width: 100%; */
  box-sizing: border-box;
  background: none;
  border: none;
  padding: 0;
  /* margin: 10px; */
  margin-bottom: 35px;
  cursor: pointer;
  text-align: left;
}

.caseItemWrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
  box-sizing: border-box;
  border-bottom: 1px solid var(--mainColor);
  width: 247px;
  /* margin-bottom: 10px; */
  padding: 0;
  padding-bottom: 10px;
  background: transparent;
}

.caseItemWrap p {
  margin-bottom: 5px;
}
/********** 메인 image **********/
.main_imgWrap {
  /* background-color: darkslateblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-shrink: 0;
}
